<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5MHP9GKZ4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-X5MHP9GKZ4');
  </script>

  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

</head>

<body>
  <table
    style="width:100%;max-width:900px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Zitian Zhang, 张梓添
              </h1>
              <p>
                I am a PhD student in computer science at Université Laval. I feel very fortunate to have the
                opportunity
                to work with <a href="https://vision.gel.ulaval.ca/~jflalonde/">Prof. Jean-François Lalonde</a> and <a
                  href="https://vision.gel.ulaval.ca/~jflalonde/students/">this amazing lab</a>! My research focuses on
                high-quality object insertion, lighting estimation with diffusion models.
              </p>
              <p>
                Before joining Université Laval, I completed my MEng in Computer Technologies in South China
                University of Technology with Prof. Chuhua Xian, focusing on consistent depth estimation and BRDF
                estimation. During this period, I had the pleasure to intern as an Unreal Engine developer to
                develop my own mini-game in Alibaba Lingxi Interactive. I also worked as a rendering developer intern in
                Revobit, a start-up focusing on cloud rendering for the fashion industry. I got my BMgnt in E-Commerce
                from Xidian University.
              </p>
              <p style="text-align:center">
                <a href="pdfs/ZitianZhang_CV.pdf">CV</a> &nbsp;/&nbsp;
                <a href="mailto:zitian.zhang.1@ulaval.ca">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/zzt76" target="_blank">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=4RMwQmsAAAAJ" target="_blank">Google Scholar</a>
                &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/ztzhang76" target="_blank">LinkedIn</a>
              </p>
            </td>
            <td style="padding:2.5%;width:20%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/zzt.jpg">
            </td>
          </tr>
        </table>

        <h2>
          <center>
            <em>I'm currently looking for an internship for the summer of 2025!</em>
          </center>
        </h2>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2> <img style="width:3%;vertical-align:top;" alt="bunny" src="images/bunny.png"></img>
              <p>
                <center><img style="width:70%;vertical-align:middle;" alt="hidden_bunny"
                    src="images/hidden_bunny.png"></img>
                </center>
              </p>
              <p>
                My research concentrate on high-quality object insertion and lighting estimation, leveraging diffusion
                models to achieve seamless, realistic object compositing across diverse scenes. My goal is to develop
                compositing methods that integrate precise shading and shadow with user inputs, and accurate
                environmental conditions while minimizing the need for extensive paired data or supervised training.
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:35%;vertical-align:middle;min-width:200px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <!-- <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} -->
              <em><strong>{{post.venue}}</strong></em>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">arxiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}" target="_blank">paper</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">code</a> /
              {% endif %}
              {% if post.dataset %}
              <a href="{{post.dataset}}" target="_blank">dataset</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">slides</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">poster</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}" target="_blank">website</a> /
              {% endif %}
              {% if post.supp %}
              <a href="{{post.supp}}" target="_blank">supplementary</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">video</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}" target="_blank">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <!-- <br>
        <br>
        <br>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Intel Projects</h2>
              <p>Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly
                disclosed work
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        !-->

        <br>
        <br>
        <br>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include intern projects, and other projects that I have worked on.
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:35%;vertical-align:middle;min-width:120px">
              {% if post.video %}
              <video width="100%" controls>
                <source src={{post.video}} type="video/mp4">
                Your browser does not support the video tag.
              </video>
              {% else %}
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
              {% endif %}
            </td>
            <td style="padding:2.5%;width:65%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              <!-- {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %} -->
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's
                  website</a> and <a slot="source" style="font-size:small;" href="https://leonidk.com/">Leonid
                  Keselman's website</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>